{{extend 'layout.html'}}
<!--
<script type="text/javascript">
jQuery(document).ready(function() {
    
    var date = new Date();
    
    var d = date.getDate();
    
    var m = date.getMonth();
    
    var y = date.getFullYear();
    
    $("#calendar").fullCalendar({
    
        header: {
        
        left: "prevYear,nextYear",
        
        center: "title",
        
        right: "today,month,agendaDay,agendaWeek prev,next"
        
        },
    
        events: [
                {{for i,row in enumerate(rows):}}{{if i!=0:}},{{pass}}    
                    {
                
                        title: "{{=row.title}}",
                        
                        allDay: false,
                        
                        start: new Date("{{=row.start_date.strftime("%m-%d- %Y")}}"),
                        
                        end: new Date("{{=row.end_date.strftime("%m-%d- %Y")}}"),
                        
                        url: "{{=URL("appointment_read",args=row.id)}}"
                        
                    }

                {{pass}}
                ]
    });

});
    
</script>
-->
<div class="col-md- 8">
    <div id="calendar"></div>
</div>
<div class="col-md- 4">
    <div class="text-center">
        <h2>
            Schedule Training
        </h2>
    </div>
    <div>
        <h4>
            Name: <b>{{=customer.first_name}} {{=customer.last_name}}</b><br>
            Phone: <b>{{=customer.phone}}</b><br>
            email: <b>{{=customer.email}}</b>
        </h4>
    </div>
    <div>
        {{=form.custom.begin}}
        Service: {{=form.custom.widget.service}}
        <div class="row">
            <div class="col-md- 6">
                Start: {{=form.custom.widget.start_date}}
            </div>
            <div class="col-md- 6">
                End: {{=form.custom.widget.end_date}}
            </div>
        </div>
        Note: {{=form.custom.widget.note}}<br>
        <div align="right">
            <button type="submit" value="submit" class="btn btn-primary">Submit</button>
        </div>
        {{=form.custom.end}}
    </div>
</div>
